<html>
  <head>
    <title>three.js vr - panorama</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta property="og:title" content="three.js vr - panorama" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webxr_vr_panorama.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webxr_vr_panorama.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
