<html>
  <head>
    <title>three.js webgl - scenes transition</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl scene transitions<br />
      by <a href="https://twitter.com/fernandojsg">fernandojsg</a> -
      <a href="https://github.com/kile/three.js-demos">github</a>
    </div>

    <div id="container"></div>
  </body>
</html>
