<html>
  <head>
    <title>three.js webgpu - ambient occlusion</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>AO</span>
      </div>

      <small>
        Ambient Occlusion based on GTAO.<br />
        <a href="https://skfb.ly/oCnNx" target="_blank" rel="noopener"
          >Minimalistic Modern Bedroom</a
        >
        by
        <a
          href="https://sketchfab.com/dylanheyes"
          target="_blank"
          rel="noopener"
          >dylanheyes</a
        >
        is licensed under
        <a
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          rel="noopener"
          >Creative Commons Attribution</a
        >.
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
