<html>
  <head>
    <title>three.js webgl - postprocessing RGB Halftone</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
        >three.js</a
      >
      - RGB Halftone post-processing by
      <a href="https://github.com/meatbags" target="_blank">Xavier Burrow</a>
    </div>
  </body>
</html>
