<html>
  <head>
    <title>three.js webgl - PCD</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      <a
        href="https://pointclouds.org/documentation/tutorials/pcd_file_format.html"
        target="_blank"
        rel="noopener"
        >PCD File format</a
      >
      <div>+/-: Increase/Decrease point size</div>
      <div>c: Change color</div>
    </div>
  </body>
</html>
