<html>
  <head>
    <title>three.js webaudio - visualizer</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="overlay">
      <button id="startButton">Play</button>
    </div>
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
        >three.js</a
      >
      webaudio - visualizer<br />
      music by
      <a
        href="http://www.newgrounds.com/audio/listen/376737"
        target="_blank"
        rel="noopener"
        >skullbeatz</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
