<html>
  <head>
    <title>three.js webgl - reverse depth buffer</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container">
      <div id="container_normal">
        <h2 class="container_label">normal z-buffer</h2>
      </div>
      <div id="container_logarithmic">
        <h2 class="container_label">logarithmic z-buffer</h2>
      </div>
      <div id="container_reverse">
        <h2 class="container_label">reverse z-buffer</h2>
      </div>
    </div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - reverse depth buffer<br />
    </div>

    <div id="depth-warning">
      Warning: Your browser's WebGL provides less than 24-bit depth buffer
      precision. This example may not display correctly.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
