body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
.renderer {
  top: 0;
}
#info,
#overlay,
.renderer,
flow {
  position: absolute;
  width: 100%;
}
.renderer,
flow {
  left: 0;
  height: 50%;
}
flow {
  top: 50%;
  background: #222;
  box-shadow: inset 0 0 20px 0 #000;
}
a {
  color: #ff0;
  text-decoration: none;
  pointer-events: auto;
}
a:hover {
  text-decoration: underline;
}
#overlay button,
button {
  text-transform: uppercase;
  cursor: pointer;
}
#info,
#overlay {
  top: 0;
}
#info,
.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#info {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}
button,
input,
select {
  pointer-events: auto;
}
.dg.ac {
  z-index: 2 !important;
}
#overlay {
  font-size: 16px;
  z-index: 2;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}
#overlay button {
  background: 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 18px;
}
#notSupported {
  width: 50%;
  background-color: red;
  margin: 20px auto auto;
  padding: 10px;
}
