<html>
  <head>
    <title>three.js webgl - loaders - PRWM loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <strong>Models</strong>:
      <a class="model" href="models/prwm/faceted-nefertiti.*.prwm"
        >Faceted Nefertiti</a
      >,
      <a class="model" href="models/prwm/smooth-suzanne.*.prwm"
        >Smooth Suzanne</a
      >,
      <a class="model" href="models/prwm/vive-controller.*.prwm"
        >Vive Controller</a
      >
      <div class="notes">
        The parsing of PRWM file is especially fast when the endianness of the
        file is the same as the endianness of the client platform. The loader
        will automatically replace the <strong>*</strong> in the model url by
        either <strong>le</strong> or <strong>be</strong> depending on the
        client platform's endianness to download the most appropriate file.
        <a
          href="https://github.com/kchapelier/PRWM"
          target="_blank"
          rel="noopener noreferrer"
          >Specifications and implementations</a
        ><br /><br />
        This platform endianness is <strong id="endianness"></strong>.<br />
        See your console for stats.
      </div>
    </div>
  </body>
</html>
