<html>
  <head>
    <title>three.js - webgpu - tsl transpiler</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="source"></div>
    <div id="result"></div>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.min.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three/nodes": "./jsm/nodes/Nodes.js"
        }
      }
    </script>
  </body>
</html>
