* {
  box-sizing: border-box;
}
#result,
#source {
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
}
#source {
  left: 0;
  width: calc(50% - 1px);
}
#result {
  right: 0;
  width: 50%;
}
#result-dropdown,
#source-dropdown {
  position: absolute;
  top: 0;
  padding: 10px;
  z-index: 100;
  background: #222;
  text-align: center;
}
#source-dropdown {
  width: calc(50% - 1px);
}
#result-dropdown {
  left: calc(50%);
  width: 50%;
}
select {
  background: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 5px 10px;
}
body,
label {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
body {
  margin: 0;
  background-color: #000;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
a {
  color: #ff0;
  text-decoration: none;
  pointer-events: auto;
}
a:hover {
  text-decoration: underline;
}
#overlay button,
button {
  text-transform: uppercase;
  cursor: pointer;
}
#info,
#overlay {
  position: absolute;
  top: 0;
  width: 100%;
}
#info {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
button,
input,
select {
  pointer-events: auto;
}
.lil-gui {
  z-index: 2 !important;
}
@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}
#overlay {
  font-size: 16px;
  z-index: 2;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}
#overlay button {
  background: 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 18px;
}
#notSupported {
  width: 50%;
  background-color: red;
  margin: 20px auto auto;
  padding: 10px;
}
