<html>
  <head>
    <title>three.js webgl - gpgpu - flocking</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl gpgpu birds<br />
      Move mouse to disturb birds.
    </div>

    <!--
		TODO: If you're reading this, you may wish to improve this example by
			- Create a better shading for the birds?

		-->

    <!-- shader for bird's position -->

    <!-- shader for bird's velocity -->

    <!-- bird geometry shader -->
  </body>
</html>
