<html>
  <head>
    <title>three.js webgl - STL</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgl - STL" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_loader_stl.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_loader_stl.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - STL loader test by
      <a href="https://github.com/aleeper" target="_blank" rel="noopener"
        >aleeper</a
      >.<br />
      PR2 head from
      <a href="https://www.ros.org/wiki/pr2_description">www.ros.org</a>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
