<html>
  <head>
    <title>three.js - WebGPU - RTT</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- WebGPU (For Chrome 94-101), expires 09/01/2022 -->
    <meta
      http-equiv="origin-trial"
      content="AoS1pSJwCV3KRe73TO0YgJkK9FZ/qhmvKeafztp0ofiE8uoGrnKzfxGVKKICvoBfL8dgE0zpkp2g/oEJNS0fDgkAAABeeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJHUFUiLCJleHBpcnkiOjE2NTI4MzE5OTksImlzU3ViZG9tYWluIjp0cnVlfQ=="
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      WebGPU - RTT<br />(Chrome Canary with flag: --enable-unsafe-webgpu)
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js"
        }
      }
    </script>
  </body>
</html>
