<html>
  <head>
    <title>three.js webgl - gpgpu - water</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgl - gpgpu - water" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_gpgpu_water.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_gpgpu_water.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - <span id="waterSize"></span> webgl gpgpu water<br />
      Click and Move mouse to disturb water.
    </div>

    <!-- This is just a smoothing 'compute shader' for using manually: -->

    <!-- This is a 'compute shader' to read the current level and normal of water at a point -->
    <!-- It is used with a variable of size 1x1 -->

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
