<html>
  <head>
    <title>three.js webgl - materials - cube refraction [Lucy]</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org">Three.js</a> cube map refraction demo<br />
      Lucy model from
      <a href="http://graphics.stanford.edu/data/3Dscanrep/"
        >Stanford 3d scanning repository<br />
        Texture by </a
      ><a
        href="http://www.humus.name/index.php?page=Textures"
        target="_blank"
        rel="noopener"
        >Humus</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
