node_modules
.gitpod.yml
res/
waste.js
tests
example-processor/
.github/
src/
examples/
.eslintignore
.eslintrc
.npmignore
.prettierignore
CODE_OF_CONDUCT.md
config.json
generateConfig.js
LICENSE
package.json
yarn.lock
utils

