<html>
  <head>
    <title>three.js webgl - KTX2 texture loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <canvas id="c"></canvas>

    <div id="content">
      <div id="info">
        <a href="https://threejs.org" target="_blank" rel="noopener"
          >three.js</a
        >
        - KTX2 texture loader - webgl
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
