<html>
  <head>
    <title>three.js webgl - KTX2 texture loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl - KTX2 texture loader<br />
      <a
        href="http://github.khronos.org/KTX-Specification/"
        target="_blank"
        rel="noopener"
        >KTX2</a
      >
      with
      <a href="https://github.com/binomialLLC/basis_universal" target="_blank"
        >Basis Universal GPU Texture Codec</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
