<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>three.js webgpu - HDR Draw</title>
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info" class="invert">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>HDR</span>
      </div>

      <small>
        The demo produces a color output intended for HDR monitors.
      </small>
    </div>

    <div id="no-hdr" style="display: none">
      <div>
        The browser says your device or monitor doesn't support HDR.<br />
        If you're on a laptop using an external monitor, try the built in
        monitor<br />
        or, try this site on your phone. Most phones support HDR.
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
