body {
  background-color: #f0f0f0;
  color: #000;
  touch-action: none;
}

a {
  color: #08e;
}

.selectBox {
  border: 1px solid #55aaff;
  background-color: rgba(75, 160, 255, 0.3);
  position: fixed;
}
