<html>
  <head>
    <title>three.js - WebGPU - Compute Particles</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      WebGPU - Compute - 500k Particles
      <div
        id="timestamps"
        style="
          position: absolute;
          top: 60px;
          left: 0;
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-family: monospace;
          font-size: 12px;
          line-height: 1.5;
          pointer-events: none;
          text-align: left;
        "
      ></div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
