<html>
  <head>
    <title>
      threejs webgpu - materials - ground projected environment mapping
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      property="og:title"
      content="threejs webgpu - materials - ground projected environment mapping"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgpu_materials_envmaps_groundprojected.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgpu_materials_envmaps_groundprojected.jpg"
    />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>Ground Projected Env Maps</span>
      </div>

      <small>
        Ferrari 458 Italia model by
        <a
          href="https://sketchfab.com/models/57bf6cc56931426e87494f554df1dab6"
          target="_blank"
          rel="noopener"
          >vicent091036</a
        ><br />
        <a
          href="https://polyhaven.com/a/blouberg_sunrise_2"
          target="_blank"
          rel="noopener"
          >Blouberg Sunrise 2</a
        >
        by
        <a href="https://gregzaal.com/" target="_blank" rel="noopener"
          >Greg Zaal</a
        >
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
