* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #444;
  margin: auto;
  padding: 0.5in;
  max-width: 7in;
  text-align: justify;
}

a {
  color: #08f;
}

#info {
  left: 0px;
}

.view {
  width: 5in;
  height: 5in;
  margin: auto;
}

#c {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.math {
  text-align: center;
}

.math-frac {
  display: inline-block;
  vertical-align: middle;
}

.math-num {
  display: block;
}

.math-denom {
  display: block;
  border-top: 1px solid;
}

.math-sqrt {
  display: inline-block;
  transform: scale(1, 1.3);
}

.math-sqrt-stem {
  display: inline-block;
  border-top: 1px solid;
  margin-top: 5px;
}
