<html>
  <head>
    <title>three.js webgl - postprocessing - unreal bloom</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      property="og:title"
      content="three.js webgl - postprocessing - unreal bloom"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_postprocessing_unreal_bloom.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_postprocessing_unreal_bloom.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Bloom pass by
      <a href="https://github.com/spidersharma03" target="_blank" rel="noopener"
        >Prashant Sharma</a
      >
      and
      <a href="https://ben3d.ca/" target="_blank" rel="noopener">Ben Houston</a>
      <br />
      Model:
      <a
        href="https://blog.sketchfab.com/art-spotlight-primary-ion-drive/"
        target="_blank"
        rel="noopener"
        >Primary Ion Drive</a
      >
      by
      <a href="https://mjmurdock.com/" target="_blank" rel="noopener"
        >Mike Murdock</a
      >, CC Attribution.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
