<html>
  <head>
    <title>three.js webgl - postprocessing - unreal bloom</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Bloom pass by
      <a href="http://eduperiment.com" target="_blank" rel="noopener"
        >Prashant Sharma</a
      >
      and
      <a href="https://clara.io" target="_blank" rel="noopener">Ben Houston</a>
      <br />
      Model:
      <a
        href="https://blog.sketchfab.com/art-spotlight-primary-ion-drive/"
        target="_blank"
        rel="noopener"
        >Primary Ion Drive</a
      >
      by
      <a href="http://mjmurdock.com/" target="_blank" rel="noopener"
        >Mike Murdock</a
      >, CC Attribution.
    </div>
  </body>
</html>
