<html>
  <head>
    <title>three.js webgl - postprocessing smaa</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgl - postprocessing smaa" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_postprocessing_smaa.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_postprocessing_smaa.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
        >three.js</a
      >
      - post-processing SMAA
    </div>

    <div id="container"></div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
