<html>
  <head>
    <title>three.js webgpu - tsl editor</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgpu - tsl editor" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgpu_tsl_editor.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgpu_tsl_editor.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="source"></div>
    <div id="result"></div>
    <div id="renderer"></div>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.52.2/min/vs/loader.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
