<html>
  <head>
    <title>three.js webgl - materials - car</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      car materials<br />
      Ferrari 458 Italia model by
      <a
        href="https://sketchfab.com/models/57bf6cc56931426e87494f554df1dab6"
        target="_blank"
        rel="noopener"
        >vicent091036</a
      >
      <br /><br />
      <span class="colorPicker"
        ><input id="body-color" type="color" value="#ff0000" /><br />Body</span
      >
      <span class="colorPicker"
        ><input
          id="details-color"
          type="color"
          value="#ffffff"
        /><br />Details</span
      >
      <span class="colorPicker"
        ><input
          id="glass-color"
          type="color"
          value="#ffffff"
        /><br />Glass</span
      >
    </div>

    <div id="container"></div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
