<html>
  <head>
    <title>three.js webgl - Multiple Render Targets</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- Write to G-Buffer -->

    <!-- Read G-Buffer and render to screen -->
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="http://threejs.org" target="_blank">threejs</a> - WebGL -
      Multiple Render Targets<br />
      Renders geometry into a G-Buffer.<br />
      Visualized here is the color and normal data from the G-Buffer.<br />
      Created by
      <a href="http://twitter.com/mattdesl" target="_blank">@mattdesl</a>.
    </div>
  </body>
</html>
