<html>
  <head>
    <title>three.js webgl - lines - colors</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - color lines<br />
      <a href="http://en.wikipedia.org/wiki/Hilbert_curve">Hilbert curve</a>
      thanks to
      <a href="http://www.openprocessing.org/visuals/?visualID=15599"
        >Thomas Diewald</a
      >
    </div>
  </body>
</html>
