<html>
  <head>
    <title>three.js webgl - collada</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      collada loader<br />
      Elf Girl by
      <a href="https://sketchfab.com/yellow09" target="_blank" rel="noopener"
        >halloween</a
      >,
      <a
        href="https://creativecommons.org/licenses/by/4.0/"
        target="_blank"
        rel="noopener"
        >CC Attribution</a
      >
    </div>
  </body>
</html>
