<html>
  <head>
    <title>three.js webgl - drag controls</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - drag controls<br />
      Use "Shift+Click" to add/remove objects to/from a group.<br />
      Use "M" to toggle between rotate and pan mode (touch only).<br />
      Grouped objects can be transformed as a union.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
