<html>
  <head>
    <title>three.js webgl - node material</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Node-Based Material <br /><span class="button" id="preload"
        >change preload</span
      >
    </div>

    <div id="waitScreen">Loading ...</div>
  </body>
</html>
