<html>
  <head>
    <meta charset="utf-8" />
    <title>Three.js webgpu - procedural wood materials</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="Logan Seeley" />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info" class="invert">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>Procedural Woord Material</span>
      </div>

      <small>
        By Logan Seeley, based on
        <a href="https://www.youtube.com/watch?v=n7e0vxgBS8A"
          >Lance Phan's Blender tutorial.</a
        >
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
