<html>
  <head>
    <title>three.js webgpu - compute reduction</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      <br />
      This example demonstrates the performance of various simple parallel
      reduction kernels. <br />
      Reference implementations are translated from the CUDA/WGSL code present
      in the following books/repos: <br />
      Impl. 0 - 2:
      <a
        href="https://www.cambridge.org/core/books/programming-in-parallel-with-cuda/C43652A69033C25AD6933368CDBE084C"
        ><i>Programming in Parallel with CUDA</i></a
      >
      by <a href="https://people.bss.phy.cam.ac.uk/~rea1/">Richard Ansorge</a>
      <br />
      Impl. 3:
      <a
        href="https://github.com/frost-beta/betann/blob/main/betann/wgsl/reduce_all.wgsl"
        ><i>betann reduce_all kernel</i></a
      >
      by <a href="https://github.com/zcbenz">zcbenz</a> <br />
      Impl. 4:
      <a
        href="https://github.com/b0nes164/GPUPrefixSums/blob/main/GPUPrefixSumsWebGPUapis/SharedShaders/rts.wgsl"
        ><i>GPUPrefixSums reduction approach</i></a
      >
      by <a href="https://github.com/b0nes164">b0nes164</a>
      <div
        id="left_side_display"
        style="
          position: absolute;
          top: 150px;
          left: 0;
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-family: monospace;
          font-size: 12px;
          line-height: 1.5;
          pointer-events: none;
          text-align: left;
        "
      ></div>
      <div
        id="right_side_display"
        style="
          position: absolute;
          top: 150px;
          right: 0;
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-family: monospace;
          font-size: 12px;
          line-height: 1.5;
          pointer-events: none;
          text-align: left;
        "
      ></div>
    </div>

    <div id="reduction-panel">
      <h3 id="panel-title" style="flex: 0 0 auto">
        Subgroup Reduction Explanation
      </h3>
      <div class="reduction-stage" id="subgroup-reduction-stage">
        <div class="stage-label">
          Use subgroupAdd() to capture reduction of each workgroup's subgroups
          (Hover for animation)
        </div>
        <div class="stage-display">
          <div
            id="workgroup_threads"
            style="display: flex; justify-content: center; margin-bottom: 20px"
          ></div>
          <div
            id="subgroup_reduction"
            style="display: flex; justify-content: center; margin-bottom: 5px"
          ></div>
        </div>
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
