<html>
  <head>
    <title>three.js webgl - LWOLoader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - LWOLoader
      <p>
        Lightwave Object loader by
        <a href="https://discoverthreejs.com/" target="_blank" rel="noopener"
          >Discover three.js</a
        >
      </p>
      Models by
      <a href="https://onthez.com/" target="_blank" rel="noopener">on the z</a>
      - Environment images by
      <a href="https://hdrihaven.com/" target="_blank" rel="noopener"
        >HDRI Haven</a
      >
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js"
        }
      }
    </script>
  </body>
</html>
