<html>
  <head>
    <title>three.js webgl - 3MF</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      <a href="http://3mf.io" target="_blank" rel="noopener">3MF File format</a>
      <div>
        3MF loader test by
        <a href="https://github.com/technohippy" target="_blank" rel="noopener"
          >technohippy</a
        >
      </div>
      <div>
        Files from
        <a
          href="https://github.com/3MFConsortium/3mf-samples"
          target="_blank"
          rel="noopener"
          >3mf-samples</a
        >
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
