<html>
  <head>
    <title>three.js css3d - mixed</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js css3d - mixed" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/css3d_mixed.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/css3d_mixed.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
