<html>
  <head>
    <title>three.js webgl - exporter - GCode</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgl - exporter - GCode" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/misc_exporter_gcode.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/misc_exporter_gcode.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - exporter -
      <a
        href="https://github.com/jgphilpott/polyslice"
        target="_blank"
        rel="noopener"
        >GCode</a
      >
      <br />Slice 3D models to G-code for 3D printing <br /><a
        href="https://www.youtube.com/watch?v=V2h3SiafXRc"
        target="_blank"
        rel="noopener"
        >Watch the Demo Video</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
