<html>
  <head>
    <title>three.js webgl - instancing test (single triangle)</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - instancing demo (single triangle)
      <div id="notSupported" style="display: none">
        Sorry your graphics card + browser does not support hardware instancing
      </div>
    </div>

    <script id="vertexShader" type="x-shader/x-vertex">
      precision highp float;

      uniform float sineTime;

      uniform mat4 modelViewMatrix;
      uniform mat4 projectionMatrix;

      attribute vec3 position;
      attribute vec3 offset;
      attribute vec4 color;
      attribute vec4 orientationStart;
      attribute vec4 orientationEnd;

      varying vec3 vPosition;
      varying vec4 vColor;

      void main(){

      	vPosition = offset * max( abs( sineTime * 2.0 + 1.0 ), 0.5 ) + position;
      	vec4 orientation = normalize( mix( orientationStart, orientationEnd, sineTime ) );
      	vec3 vcV = cross( orientation.xyz, vPosition );
      	vPosition = vcV * ( 2.0 * orientation.w ) + ( cross( orientation.xyz, vcV ) * 2.0 + vPosition );

      	vColor = color;

      	gl_Position = projectionMatrix * modelViewMatrix * vec4( vPosition, 1.0 );

      }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">

      precision highp float;

      uniform float time;

      varying vec3 vPosition;
      varying vec4 vColor;

      void main() {

      	vec4 color = vec4( vColor );
      	color.r += sin( vPosition.x * 10.0 + time ) * 0.5;

      	gl_FragColor = color;

      }
    </script>
  </body>
</html>
