body {
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;

  background-color: #000;

  margin: 0px;
  overflow: hidden;
}
a {
  color: #00f;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}
