<html>
  <head>
    <title>three.js webgl - custom attributes [lines]</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - custom attributes example
    </div>
    <div id="container"></div>

    <script type="x-shader/x-vertex" id="vertexshader">

      uniform float amplitude;

      attribute vec3 displacement;
      attribute vec3 customColor;

      varying vec3 vColor;

      void main() {

      	vec3 newPosition = position + amplitude * displacement;

      	vColor = customColor;

      	gl_Position = projectionMatrix * modelViewMatrix * vec4( newPosition, 1.0 );

      }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">

      uniform vec3 color;
      uniform float opacity;

      varying vec3 vColor;

      void main() {

      	gl_FragColor = vec4( vColor * color, opacity );

      }
    </script>
  </body>
</html>
