<html>
  <head>
    <title>three.js webgl - three-gpu-pathtracer</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      pathtracer -
      <a
        href="https://github.com/gkjohnson/three-gpu-pathtracer"
        target="_blank"
        rel="noopener"
        >three-gpu-pathtracer</a
      ><br />
      See
      <a
        href="https://github.com/gkjohnson/three-gpu-pathtracer"
        target="_blank"
        rel="noopener"
        >main project repository</a
      >
      for more information and examples on high fidelity path tracing.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three/examples/": "./",
          "three-gpu-pathtracer": "https://cdn.jsdelivr.net/npm/three-gpu-pathtracer@0.0.21/build/index.module.js",
          "three-mesh-bvh": "https://cdn.jsdelivr.net/npm/three-mesh-bvh@0.7.4/build/index.module.js"
        }
      }
    </script>

    <!-- LDraw.org CC BY 2.0 Parts Library attribution -->
    <div
      style="
        display: block;
        position: absolute;
        bottom: 8px;
        left: 8px;
        width: 160px;
        padding: 10px;
        background-color: #f3f7f8;
      "
    >
      <center>
        <a href="http://www.ldraw.org"
          ><img
            style="width: 145px"
            src="models/ldraw/ldraw_org_logo/Stamp145.png"
        /></a>
        <br />
        <a href="http://www.ldraw.org/"
          >This software uses the LDraw Parts Library</a
        >
      </center>
    </div>
  </body>
</html>
