<html>
  <head>
    <title>three.js webgpu - memory test I</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgpu - memory test I" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgpu_test_memory.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgpu_test_memory.jpg"
    />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>

  <body style="overflow: hidden">
    <div id="info" class="invert">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>WebGPU Memory Test I</span>
      </div>

      <small>
        This example tests memory management with WebGPU renderer.
        <br />
        Spheres are created, rendered, and disposed in each frame.
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
