body {
  overflow: hidden;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
.lbl,
.menu {
  color: #fff;
  width: 75px;
}
.menu {
  font-weight: 700;
  font-size: 12px;
  z-index: 100;
  position: absolute;
  top: 0;
  padding: 16px;
}
.menu canvas,
.menu img {
  width: 75px;
  margin: 10px 0;
}
#backgrounds,
#images {
  background: 0 0;
  left: 0;
}
#backgrounds {
  left: 107px;
}
#labels {
  background: rgba(0, 0, 0, 0.75);
  left: 214px;
  width: 100px;
}
.lbl {
  z-index: 150;
  float: left;
  padding: 0.25em;
  display: block;
}
#lbl_dst {
  background: #800;
}
#lbl_src {
  background: green;
}
.btn {
  background: #ff8c00;
  width: 100px;
  cursor: pointer;
}
#btn_max,
#btn_min,
#btn_pre,
#btn_rsub,
#btn_sub {
  background: 0 0;
}
#btn_max,
#btn_nopre {
  margin-bottom: 2em;
}
a {
  color: #ff0;
  text-decoration: none;
  pointer-events: auto;
}
a:hover {
  text-decoration: underline;
}
#overlay button,
button {
  text-transform: uppercase;
  cursor: pointer;
}
#info,
#overlay {
  position: absolute;
  top: 0;
  width: 100%;
}
#info {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
button,
input,
select {
  pointer-events: auto;
}
.lil-gui {
  z-index: 2 !important;
}
@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}
#overlay {
  font-size: 16px;
  z-index: 2;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}
#overlay button {
  background: 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 18px;
}
#notSupported {
  width: 50%;
  background-color: red;
  margin: 20px auto auto;
  padding: 10px;
}
