<html>
  <head>
    <title>three.js webgl - GLTFloader + sheen</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - GLTFLoader +
      <a
        href="https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_sheen"
        target="_blank"
        rel="noopener"
        >KHR_materials_sheen</a
      ><br />
      Sheen Chair from
      <a
        href="https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/SheenChair"
        target="_blank"
        rel="noopener"
        >glTF-Sample-Models</a
      >
    </div>
  </body>
</html>
