<html>
  <head>
    <title>three.js webgpu - raging sea</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener"
        >three.js webgpu</a
      >
      - raging sea
      <br />
      Based on
      <a
        href="https://threejs-journey.com/lessons/raging-sea"
        target="_blank"
        rel="noopener"
        >Three.js Journey</a
      >
      lesson
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
