<html>
  <head>
    <title>three.js vr - layers</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      media and projection layers<br />
      (Oculus Browser 16.1+)

      <p>
        This example demonstrates the use of
        <a href="https://www.w3.org/TR/webxrlayers-1/">WebXR Layers</a> to
        render high quality text and video. For static content such as text,
        using layers increases the usable resolution of the content by avoiding
        the extra resampling pass that occurs during normal VR rendering. For
        dynamic content such as video, using layers also improves performance by
        only copying data when new frames are available.
      </p>
      <br />
      <p><i>See the comments in the code for more information.</i></p>
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
