<html>
  <head>
    <title>three.js webgl - animation - keyframes</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      property="og:title"
      content="three.js webgl - animation - keyframes"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_animation_keyframes.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_animation_keyframes.jpg"
    />
  </head>

  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - animation - keyframes<br />
      Model:
      <a
        href="https://artstation.com/artwork/1AGwX"
        target="_blank"
        rel="noopener"
        >Littlest Tokyo</a
      >
      by
      <a href="https://artstation.com/glenatron" target="_blank" rel="noopener"
        >Glen Fox</a
      >, CC Attribution.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
