<html>
  <head>
    <title>three.js webgl - animation - keyframes</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - animation - keyframes<br />
      Model:
      <a
        href="https://artstation.com/artwork/1AGwX"
        target="_blank"
        rel="noopener"
        >Littlest Tokyo</a
      >
      by
      <a href="https://artstation.com/glenatron" target="_blank" rel="noopener"
        >Glen Fox</a
      >, CC Attribution.
    </div>
  </body>
</html>
