<html>
  <head>
    <title>three.js webgl - geometry - minecraft</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      -
      <a href="http://www.minecraft.net/" target="_blank" rel="noopener"
        >minecraft</a
      >
      demo. featuring
      <a href="http://painterlypack.net/" target="_blank" rel="noopener"
        >painterly pack</a
      ><br />(left click: forward, right click: backward)
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
