<html>
  <head>
    <title>three.js webgl - buffergeometry - selective - draw</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <script type="x-shader/x-vertex" id="vertexshader">
      attribute float visible;
      varying float vVisible;
      attribute vec3 vertColor;
      varying vec3 vColor;

      void main() {

      	vColor = vertColor;
      	vVisible = visible;
      	gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

      }
    </script>
    <script type="x-shader/x-fragment" id="fragmentshader">
      varying float vVisible;
      varying vec3 vColor;

      void main() {

      	if ( vVisible > 0.0 ) {

      		gl_FragColor = vec4( vColor, 1.0 );

      	} else {

      		discard;

      	}

      }
    </script>
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      buffergeometry - selective - draw
      <div id="title"></div>
      <div id="ui">
        <a href="#" id="hideLines">CULL SOME LINES</a> -
        <a href="#" id="showAllLines">SHOW ALL LINES</a>
      </div>
    </div>
  </body>
</html>
