<html>
  <head>
    <title>three.js webgl - read float pixels</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      read float pixels webgl example<br />
      <span id="values"></span>
    </div>

    <script id="fragment_shader_screen" type="x-shader/x-fragment">

      varying vec2 vUv;
      uniform sampler2D tDiffuse;

      void main() {

      	gl_FragColor = texture2D( tDiffuse, vUv );

      }
    </script>

    <script id="fragment_shader_pass_1" type="x-shader/x-fragment">

      varying vec2 vUv;
      uniform float time;

      void main() {

      	float r = vUv.x;
      	if( vUv.y < 0.5 ) r = 0.0;
      	float g = vUv.y;
      	if( vUv.x < 0.5 ) g = 0.0;

      	gl_FragColor = vec4( r, g, time, 1.0 );

      }
    </script>

    <script id="vertexShader" type="x-shader/x-vertex">

      varying vec2 vUv;

      void main() {

      	vUv = uv;
      	gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

      }
    </script>
  </body>
</html>
