<html>
  <head>
    <title>three.js webgl - tilt loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - tilt loader<br />
      <a
        href="https://poly.google.com/view/ewUb8s99x_k"
        target="_blank"
        rel="noopener"
        >TILTSPHERE</a
      >
      by
      <a
        href="https://poly.google.com/user/8CZPjCt8LvV"
        target="_blank"
        rel="noopener"
        >Rosie Summers</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
