<html>
  <head>
    <title>three.js webgpu - materials - displacement map</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgpu - (normal + ao + displacement + environment) map demo.<br />
      ninja head from
      <a
        href="https://gpuopen.com/archive/gamescgi/amd-gpu-meshmapper/"
        target="_blank"
        rel="noopener"
        >AMD GPU MeshMapper</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three/nodes": "./jsm/nodes/Nodes.js"
        }
      }
    </script>
  </body>
</html>
