<html>
  <head>
    <title>three.js webgl - animation - walk</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Skeletal Animation Walking (model from
      <a href="https://www.mixamo.com/" target="_blank" rel="noopener"
        >mixamo.com</a
      >)<br />
      use arrows to control characters
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
