<html>
  <head>
    <title>three.js ar - lighting estimation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta property="og:title" content="three.js ar - lighting estimation" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webxr_ar_lighting.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webxr_ar_lighting.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      ar - lighting estimation<br />
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
