<html>
  <head>
    <title>three.js webgpu - video frames</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>Video Frames</span>
      </div>

      <small>
        Decodes all frames from a MP4 file and renders them onto a plane as fast
        as possible.<br />
        <a
          href="https://github.com/gpac/mp4box.js/"
          target="_blank"
          rel="noopener"
          >mp4box.js</a
        >
        used for MP4 parsing.
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
