<html>
  <head>
    <title>three.js PMREM directional light test</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container">
      <div id="info">
        <a href="https://threejs.org" target="_blank" rel="noopener"
          >three.js</a
        >
        - PMREM directional light test
        <a href="https://github.com/elalish" target="_blank" rel="noopener"
          >Emmett Lalish</a
        >
        <br />Top row is white metal <br />Middle row is white dielectric
        <br />Bottom row is black dielectric. <br />Mouse-out is a standard
        Directional Light. <br />Mouse-over is a PMREM of the skybox: a single
        bright pixel representing the same directional light source. <br />The
        difference between these renders indicates the error in the PMREM
        approximations.
      </div>
    </div>
  </body>
</html>
