<html>
  <head>
    <title>three.js WebGL 2 - clip cull distance</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - vertex shader clipping via
      <a
        href="https://registry.khronos.org/webgl/extensions/WEBGL_clip_cull_distance/"
        target="_blank"
        rel="noopener"
        >WEBGL_clip_cull_distance</a
      >
      <div id="notSupported" style="display: none">
        WEBGL_clip_cull_distance not supported
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
