<html>
  <head>
    <title>
      threejs webgl - materials - ground projected environment mapping
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> -
      Ground projected environment mapping.<br />
      Ferrari 458 Italia model by
      <a
        href="https://sketchfab.com/models/57bf6cc56931426e87494f554df1dab6"
        target="_blank"
        rel="noopener"
        >vicent091036</a
      ><br />
      <a
        href="https://polyhaven.com/a/blouberg_sunrise_2"
        target="_blank"
        rel="noopener"
        >Blouberg Sunrise 2</a
      >
      by
      <a href="https://gregzaal.com/" target="_blank" rel="noopener"
        >Greg Zaal</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
