<html>
  <head>
    <title>three.js webgpu - vfx flames</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener"
        >three.js webgpu</a
      >
      - vfx flames
      <br />
      Inspired by
      <a
        href="https://x.com/cmzw_/status/1799648702338158747"
        target="_blank"
        rel="noopener"
        >@cmzw_</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
