<html>
  <head>
    <title>
      three.js webgl - post processing - Scalable Ambient Occlusion (SAO)
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
        >three.js</a
      >
      - Scalable Ambient Occlusion (SAO)<br />
      shader by <a href="http://clara.io">Ben Houston</a> / Post-processing pass
      by <a href="http://ludobaka.github.io">Ludobaka</a>
    </div>
  </body>
</html>
