<html>
  <head>
    <title>three.js webgl - shadow map</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - shadowmap - models by
      <a href="https://mirada.com/" target="_blank" rel="noopener">mirada</a>
      from <a href="http://www.ro.me" target="_blank" rel="noopener">rome</a
      ><br />
      move camera with WASD / RF + mouse
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
