<html>
  <head>
    <title>three.js physics - rapier3d instancing</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta
      property="og:title"
      content="three.js physics - rapier3d instancing"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/physics_rapier_instancing.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/physics_rapier_instancing.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      physics -
      <a href="https://github.com/dimforge/rapier.js" target="_blank">rapier</a>
      instancing<br />
      <button id="shake" style="margin-top: 25px">SHAKE</button>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
