<html>
  <head>
    <title>three.js webgpu - projector light</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link type="text/css" rel="stylesheet" href="example.css" />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener"
        class="logo-link"
      ></a>

      <div class="title-wrapper">
        <a href="https://threejs.org/" target="_blank" rel="noopener"
          >three.js</a
        ><span>Projector Light</span>
      </div>

      <small>
        Projector light with procedural caustics, video and texture projection.
      </small>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.webgpu.js",
          "three/webgpu": "../build/three.webgpu.js",
          "three/tsl": "../build/three.tsl.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>

    <video
      id="video"
      loop=""
      muted=""
      crossorigin="anonymous"
      playsinline=""
      style="display: none"
    >
      <source
        src="textures/sintel.ogv"
        type='video/ogg; codecs="theora, vorbis"'
      />
      <source
        src="textures/sintel.mp4"
        type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
      />
    </video>
  </body>
</html>
