<html>
  <head>
    <title>three.js webgl - texture - webgpu partial update</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener noreferrer"
        >three.js</a
      >
      - partial webgpu texture update <br />
      replace parts of an existing texture with all data of another texture
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three/nodes": "./jsm/nodes/Nodes.js"
        }
      }
    </script>
  </body>
</html>
