<html>
  <head>
    <title>three.js webgl - teapot buffer geometry</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - the Utah Teapot<br />
      from
      <a
        href="https://www.udacity.com/course/interactive-3d-graphics--cs291"
        target="_blank"
        rel="noopener"
        >Udacity Interactive 3D Graphics</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
