<html>
  <head>
    <title>three.js webgl - basis texture loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl - basis texture loader<br />
      <a href="https://github.com/binomialLLC/basis_universal" target="_blank"
        >Basis Universal GPU Texture Codec</a
      >
    </div>
  </body>
</html>
