<html><head>
		<title>three.js webgl - lights - point lights</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
	</head>
	<body style="overflow: hidden;">

		<div id="info">
			<a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - point lights WebGL demo.<br>
			Walt Disney head by <a href="http://davidoreilly.com/post/18087489343/disneyhead" target="_blank" rel="noopener">David OReilly</a>
		</div>

		
	

</body></html>