<html>
  <head>
    <title>three.js webgl - postprocessing - godrays</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      property="og:title"
      content="three.js webgl - postprocessing - godrays"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_postprocessing_godrays.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_postprocessing_godrays.jpg"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl god-rays example -
      <a
        href="https://github.com/Ameobea/three-good-godrays"
        target="_blank"
        rel="noopener"
        >three-good-godrays extension</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "postprocessing": "https://unpkg.com/postprocessing@6.38.2/build/index.js",
          "goodrays": "https://unpkg.com/three-good-godrays@0.8.1/build/three-good-godrays.esm.js"
        }
      }
    </script>
  </body>
</html>
