<html>
  <head>
    <title>
      three.js webgl - custom attributes [particles][billboards][alphatest]
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - custom attributes example - billboards - alphatest
    </div>
    <div id="container"></div>

    <script type="x-shader/x-vertex" id="vertexshader">

      attribute float size;
      attribute vec4 ca;

      varying vec4 vColor;

      void main() {

      	vColor = ca;

      	vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

      	gl_PointSize = size * ( 150.0 / -mvPosition.z );

      	gl_Position = projectionMatrix * mvPosition;

      }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">

      uniform vec3 color;
      uniform sampler2D pointTexture;

      varying vec4 vColor;

      void main() {

      	vec4 outColor = texture2D( pointTexture, gl_PointCoord );

      	if ( outColor.a < 0.5 ) discard;

      	gl_FragColor = outColor * vec4( color * vColor.xyz, 1.0 );

      	float depth = gl_FragCoord.z / gl_FragCoord.w;
      	const vec3 fogColor = vec3( 0.0 );

      	float fogFactor = smoothstep( 200.0, 600.0, depth );
      	gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );

      }
    </script>
  </body>
</html>
