<html>
  <head>
    <title>three.js geometry - csg</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      bvh csg -
      <a
        href="https://github.com/gkjohnson/three-bvh-csg"
        target="_blank"
        rel="noopener"
        >three-bvh-csg</a
      ><br />
      See
      <a
        href="https://github.com/gkjohnson/three-bvh-csg"
        target="_blank"
        rel="noopener"
        >main project repository</a
      >
      for more information and examples on constructive solid geometry.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three-mesh-bvh": "https://unpkg.com/three-mesh-bvh@0.6.0/build/index.module.js",
          "three-bvh-csg": "https://unpkg.com/three-bvh-csg@0.0.7/build/index.module.js"
        }
      }
    </script>
  </body>
</html>
