<html>
  <head>
    <title>Multiple animated skinned meshes</title>
    <meta charset="utf-8" />
    <meta
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
      name="viewport"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      This demo shows the usage of <strong>SkeletonUtils.clone()</strong> and
      how to setup a shared skeleton.<br />
      Soldier model from
      <a href="https://www.mixamo.com" target="_blank" rel="noopener"
        >https://www.mixamo.com</a
      >.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
