<html>
  <head>
    <title>three.js webgl - tiled forward lighting</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a> -
      Tiled forward lighting<br />
      Created by
      <a href="https://github.com/wizgrav" target="_blank" rel="noopener"
        >wizgrav</a
      >.
    </div>
  </body>
</html>
