<html>
  <head>
    <title>three.js webgl - transform controls</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      "W" translate | "E" rotate | "R" scale | "+/-" adjust size<br />
      "Q" toggle world/local space | "Shift" snap to grid<br />
      "X" toggle X | "Y" toggle Y | "Z" toggle Z | "Spacebar" toggle enabled<br />
      "C" toggle camera | "V" random zoom
    </div>
  </body>
</html>
