<html>
  <head>
    <title>three.js webgl - postprocessing - digital glitch</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="overlay">
      <h2>WARNING</h2>
      <p style="text-align: center; max-width: 450px; margin-bottom: 40px">
        This example may potentially trigger seizures for people with
        <strong>photosensitive epilepsy</strong>.
      </p>
      <button id="startButton">Okay</button>
    </div>

    <div id="info">
      <label for="dotScreen">Glitch me wild:</label
      ><input id="wildGlitch" type="checkbox" /><br />
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
