<html>
  <head>
    <title>three.js webgl - performance [nodes]</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank">three.js</a
      ><span class="white"> - NodeMaterial Performance</span><br />
      <br />
      <b>Node Material System</b>
      <br />
      <div>
        Standard<b>Node</b>Material |
        <span id="node" class="white">None</span>
      </div>
      <div>
        MeshStandard<b>Node</b>Material |
        <span id="nodeBased" class="white">None</span>
      </div>
      <br />
      <b>Current Material System</b>
      <br />
      <div>
        MeshStandardMaterial |
        <span id="default" class="white">None</span>
      </div>
      <br />
      <a id="startButton" href="javascript:void(0);">Click to benchmark</a>
    </div>
  </body>
</html>
