<html>
  <head>
    <title>three.js webaudio - sandbox</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <audio id="song" preload="auto" style="display: none">
      <source src="sounds/358232_j_s_song.ogg" type="audio/ogg" />
      <source src="sounds/358232_j_s_song.mp3" type="audio/mpeg" />
    </audio>
    <audio id="skullbeatz" preload="auto" style="display: none">
      <source
        src="sounds/376737_Skullbeatz___Bad_Cat_Maste.ogg"
        type="audio/ogg"
      />
      <source
        src="sounds/376737_Skullbeatz___Bad_Cat_Maste.mp3"
        type="audio/mpeg"
      />
    </audio>
    <audio id="utopia" loop="" preload="auto" style="display: none">
      <source src="sounds/Project_Utopia.ogg" type="audio/ogg" />
      <source src="sounds/Project_Utopia.mp3" type="audio/mpeg" />
    </audio>
    <div id="overlay">
      <button id="startButton">Play</button>
    </div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webaudio - sandbox<br />
      music by
      <a
        href="http://www.newgrounds.com/audio/listen/358232"
        target="_blank"
        rel="noopener"
        >larrylarrybb</a
      >,
      <a
        href="http://www.newgrounds.com/audio/listen/376737"
        target="_blank"
        rel="noopener"
        >skullbeatz</a
      >
      and
      <a
        href="http://opengameart.org/content/project-utopia-seamless-loop"
        target="_blank"
        rel="noopener"
        >congusbongus</a
      ><br /><br />
      navigate with WASD / arrows / mouse
    </div>
  </body>
</html>
