<html>
  <head>
    <title>three.js webgl - exporter - gltf</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - exporter - gltf<br /><br />
      <button id="export_scene">Export Scene1</button>
      <button id="export_scenes">Export Scene1 and THREE.Scene 2</button>
      <button id="export_object">Export Sphere</button><br />
      <button id="export_obj">Export WaltHead</button>
      <button id="export_objects">Export Sphere and Grid</button>
      <button id="export_scene_object">Export Scene1 and Sphere</button>
      <br /><br />
      <label><input id="option_trs" name="trs" type="checkbox" />TRS</label>
      <label
        ><input
          id="option_visible"
          name="visible"
          type="checkbox"
          checked="checked"
        />Only Visible</label
      >
      <label
        ><input
          id="option_drawrange"
          name="visible"
          type="checkbox"
          checked="checked"
        />Truncate drawRange</label
      ><br />
      <label
        ><input id="option_binary" name="visible" type="checkbox" />Binary
        (<code>.glb</code>)</label
      >
      <label
        ><input
          id="option_maxsize"
          name="maxSize"
          type="number"
          value="4096"
          min="2"
          max="8192"
          step="1"
        />
        Max texture size</label
      >
    </div>
  </body>
</html>
