<html>
  <head>
    <title>three.js WebGL 2 - Multisampled Renderbuffers</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Multisampled Renderbuffers<br />
      Left: WebGLRenderTarget, Right: WebGLMultisampleRenderTarget.
    </div>
    <div id="container"></div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
