<html>
  <head>
    <title>three.js webgl - materials - EXR texture loader</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      property="og:title"
      content="three.js webgl - materials - EXR texture loader"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_loader_texture_exr.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_loader_texture_exr.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl EXR texture loader example<br />
      Image courtesy of
      <a
        href="https://www.pauldebevec.com/Research/HDR/"
        target="_blank"
        rel="noopener"
        >Paul Debevec</a
      >.
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
