<html>
  <head>
    <title>three.js webgl - exporter - obj</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - exporter - obj<br /><br />
      <button id="triangle">triangle</button>
      <button id="cube">cube</button>
      <button id="cylinder">cylinder</button>
      <button id="multiple">multiple</button>
      <button id="transformed">transformed</button>
      <button id="points">points</button><br /><br />
      <button id="export">export to obj</button>
    </div>
  </body>
</html>
