.floating {
  background: #000000;
  opacity: 0.8;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  border: 1px solid #555555;
  padding: 10px;
  display: none;
  overflow: auto;
  z-index: 100;
}
