<html>
  <head>
    <title>three.js webgl - multiple canvases - grid</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="centerer">
      <div id="centerer-cell">
        <div id="container">
          <div class="container-row">
            <canvas id="canvas1"></canvas>
            <canvas id="canvas2"></canvas>
          </div>
          <div class="container-row">
            <canvas id="canvas3"></canvas>
            <canvas id="canvas4"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - multiple canvases - grid
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
