a {
  color: #ff0;
  text-decoration: none;
}
#info,
#menu,
#overlay {
  position: absolute;
  width: 100%;
}
#menu,
.element {
  text-align: center;
}
#menu {
  bottom: 20px;
}
.element {
  width: 120px;
  height: 160px;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  font-family: Helvetica, sans-serif;
  line-height: normal;
  cursor: default;
}
.element:hover {
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}
.element .number,
.element .symbol {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}
.element .symbol {
  top: 40px;
  left: 0;
  right: 0;
  font-size: 60px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.element .details {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  font-size: 12px;
}
#overlay button,
button {
  background: 0 0;
  text-transform: uppercase;
  cursor: pointer;
}
.element .details,
button {
  color: rgba(127, 255, 255, 0.75);
}
button {
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0;
  padding: 5px 10px;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}
button:active {
  color: #000;
  background-color: rgba(0, 255, 255, 0.75);
}
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
a:hover {
  text-decoration: underline;
}
#info,
#overlay {
  top: 0;
}
#info {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
a,
button,
input,
select {
  pointer-events: auto;
}
.lil-gui {
  z-index: 2 !important;
}
@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}
#overlay {
  font-size: 16px;
  z-index: 2;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}
#overlay button {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 18px;
}
#notSupported {
  width: 50%;
  background-color: red;
  margin: 20px auto auto;
  padding: 10px;
}
