<html>
  <head>
    <title>three.js - webgl memory test II</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - memory test II
    </div>

    <script type="x-shader/x-fragment" id="fragmentShader">

      void main() {

      	if ( mod ( gl_FragCoord.x, 4.0001 ) < 1.0 || mod ( gl_FragCoord.y, 4.0001 ) < 1.0 )

      		gl_FragColor = vec4( XXX, 1.0 );

      	else

      		gl_FragColor = vec4( 1.0 );

      }
    </script>

    <script type="x-shader/x-vertex" id="vertexShader">

      void main() {

      	vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
      	gl_Position = projectionMatrix * mvPosition;

      }
    </script>
  </body>
</html>
