<html>
  <head>
    <title>three.js vr - 360 stereo video</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      vr - 360 stereo video<br />
      stereoscopic panoramic render by
      <a
        href="http://pedrofe.com/rendering-for-oculus-rift-with-arnold/"
        target="_blank"
        rel="noopener"
        >pedrofe</a
      >. scene from
      <a href="http://www.meryproject.com/" target="_blank" rel="noopener"
        >mery project</a
      >.
    </div>

    <video
      id="video"
      loop=""
      muted=""
      crossorigin="anonymous"
      playsinline=""
      style="display: none"
    >
      <source src="textures/MaryOculus.webm" />
      <source src="textures/MaryOculus.mp4" />
    </video>
  </body>
</html>
