<html>
  <head>
    <title>three.js webgl - Depth Texture</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta property="og:title" content="three.js webgl - Depth Texture" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://threejs.org/examples/webgl_depth_texture.html"
    />
    <meta
      property="og:image"
      content="https://threejs.org/examples/screenshots/webgl_depth_texture.jpg"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">threejs</a>
      webgl - depth texture<br />
      Stores render target depth in a texture attachment.<br />
      Created by
      <a href="http://twitter.com/mattdesl" target="_blank" rel="noopener"
        >@mattdesl</a
      >.

      <div id="error" style="display: none">
        Your browser does not support
        <strong>WEBGL_depth_texture</strong>.<br /><br />
        This demo will not work.
      </div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
