<html><head>
		<title>three.js webgl - Fast subsurface scattering in Blinn-Phong shading demo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
  </head>
  <body style="overflow: hidden;">

	<div id="container"></div>
	<div id="info"><a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
		<br>Fast subsurface scattering in Blinn-Phong shading demo<br>
		[Thanks for the art support from <a href="https://github.com/shaochun" target="_blank" rel="noopener">Shaochun Lin</a>]
	</div>

	

  

</body></html>