<html>
  <head>
    <title>three.js webgl - skinning and morphing</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - skinning and morphing<br />
      <p>
        The animation system allows clips to be played individually, looped, or
        crossfaded with other clips. This example shows a character looping in
        one of several base animation states, then transitioning smoothly to
        one-time actions. Facial expressions are controlled independently with
        morph targets.
      </p>
      Model by
      <a
        href="https://www.patreon.com/quaternius"
        target="_blank"
        rel="noopener"
        >Tomás Laulhé</a
      >, modifications by
      <a href="https://donmccurdy.com/" target="_blank" rel="noopener"
        >Don McCurdy</a
      >. CC0.<br />
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
