<html>
  <head>
    <title>three.js webgl - multiple canvases - circle</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container">
      <div id="stage">
        <div id="shape" class="ring backfaces">
          <canvas id="canvas1" class="ring r1"></canvas>
          <canvas id="canvas2" class="ring r2"></canvas>
          <canvas id="canvas3" class="ring r3"></canvas>
          <canvas id="canvas4" class="ring r4"></canvas>
          <canvas id="canvas5" class="ring r5"></canvas>
        </div>
      </div>
    </div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      webgl - multiple canvases - circle
    </div>
    <div id="help" gstyle="display: none">
      <div>
        <a
          href="https://www.google.com/earth/explore/showcase/liquidgalaxy.html"
          >Google's Liquid Galaxy</a
        >
        simulator.<br />
        Here 5 monitors are simulated using 3d css. WebGL is then rendered onto
        each one.
      </div>
    </div>

    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
