<html>
  <head>
    <title>three.js webgl - hdr jpg</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - hdr jpg loader <br />
      Converted from hdr with
      <a
        href="https://gainmap-creator.mono-grid.com/"
        target="_blank"
        rel="noopener"
        >converter</a
      >. <br />
      See external
      <a
        href="https://github.com/MONOGRID/gainmap-js"
        target="_blank"
        rel="noopener"
        >gainmap-js</a
      >
      for more information.
    </div>

    <div id="lbl_left" class="lbl"></div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "@monogrid/gainmap-js": "https://cdn.jsdelivr.net/npm/@monogrid/gainmap-js@3.0.0/dist/decode.js"
        }
      }
    </script>
  </body>
</html>
