<html>
  <head>
    <title>three.js webgl - animation - keyframes</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>

  <body style="overflow: hidden">
    <div id="container"></div>

    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      +
      <a
        href="https://github.com/KhronosGroup/glTF/tree/main/extensions/2.0/Khronos/KHR_animation_pointer"
        target="_blank"
        rel="noopener"
        >KHR_animation_pointer</a
      >
      using
      <a
        href="https://www.npmjs.com/package/@needle-tools/three-animation-pointer"
        target="_blank"
        rel="noopener"
        >@needle-tools/three-animation-pointer</a
      ><br />
      DragonDispersion from
      <a
        href="https://github.com/KhronosGroup/glTF-Sample-Assets/tree/main/Models/DragonDispersion"
        target="_blank"
        rel="noopener"
        >glTF-Sample-Assets</a
      >
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "@needle-tools/three-animation-pointer": "https://cdn.jsdelivr.net/npm/@needle-tools/three-animation-pointer@1.0.1"
        }
      }
    </script>
  </body>
</html>
