<html>
  <head>
    <title>three.js - WebGPU - Selective Lights</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - WebGPU - Selective Lights<br />
      <b style="color: red">Left: Red lights</b> - <b>Center: All lights</b> -
      <b style="color: blue">Right: blue light</b>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/",
          "three/nodes": "./jsm/nodes/Nodes.js"
        }
      }
    </script>
  </body>
</html>
