<html>
  <head>
    <title>three.js webgl - AMF</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      <a href="http://amf.wikispaces.com" target="_blank" rel="noopener"
        >AMF File format</a
      >
      <div>
        AMF loader test by
        <a href="https://github.com/tamarintech" target="_blank" rel="noopener"
          >tamarintech</a
        >
      </div>
      <div>
        Rook manufacturing file from
        <a
          href="http://amf.wikispaces.com/AMF+test+files"
          target="_blank"
          rel="noopener"
          >AMF test files</a
        >
      </div>
    </div>
  </body>
</html>
