<html>
  <head>
    <title>three.js webgl - particles - waves</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl particles waves example
    </div>

    <script type="x-shader/x-vertex" id="vertexshader">

      attribute float scale;

      void main() {

      	vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

      	gl_PointSize = scale * ( 300.0 / - mvPosition.z );

      	gl_Position = projectionMatrix * mvPosition;

      }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">

      uniform vec3 color;

      void main() {

      	if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.475 ) discard;

      	gl_FragColor = vec4( color, 1.0 );

      }
    </script>
  </body>
</html>
