<html>
  <head>
    <title>three.js webgl - materials</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
  </head>
  <body style="overflow: hidden">
    <div id="container"></div>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - Basic Material Variantions by
      <a href="http://clara.io/" target="_blank" rel="noopener">Ben Houston</a>.
    </div>
  </body>
</html>
