name: Lint

on: [pull_request, push]

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Node v14
        uses: actions/setup-node@v4
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn
      - name: Run Lint
        run: yarn lint
