
			#selection {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				top: 0;
				z-index: 999;
			}

			#selection > div {
				height: 128px;
				width: 128px;
				border: 1px solid white;
			}
		