<html>
  <head>
    <title>three.js webgl - Multiple Render Targets MultiSampled</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- Write to G-Buffer -->

    <!-- Read G-Buffer and render to screen -->
  </head>
  <body style="overflow: hidden">
    <div id="info">
      <a href="http://threejs.org" target="_blank">threejs</a> - WebGL -
      Multiple Render Targets Multisampled<br />
      Created by
      <a href="http://twitter.com/onirenaud" target="_blank">@onirenaud</a> with
      the help of
      <a href="http://twitter.com/Cody_J_Bennett" target="_blank"
        >@Cody_J_Bennett</a
      >.
    </div>
    <div id="container"></div>
    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script
      async=""
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js"
        }
      }
    </script>
  </body>
</html>
